;;
description = "Intro Partial"
==
{##}
{# Section Intro Start #}
<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="section-title">
					<span class="h6 text-color ">Other games to learn or play online</span>
					<h2 class="mt-3 content-title">Web Apps to play alone and to improve your gaming skills or to play online with other people</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0"> 
					<object type="image/svg+xml" data="{{ 'assets/images/icons/card-random.svg'|theme }}" 
						style="filter: invert(1); width:60px; height:60px;">
					</object>
					 <h4 class="mt-4 mb-3">Cribbage</h4>
					<p>6-card cribbage is a popular competitive card game for two players where you gain points for combinations in hand and during play.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">
					<object type="image/svg+xml" data="{{ 'assets/images/icons/poker-hand.svg'|theme }}" 
						style="filter: invert(1); width:60px; height:60px;">
					</object>
					 <h4 class="mt-4 mb-3">Gin Rummy</h4>
					<p>A card game for two players where you complete your hand by changing cards to "meld" as many your cards as possible.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<object type="image/svg+xml" data="{{ 'assets/images/icons/suits.svg'|theme }}" 
						style="filter: invert(1); width:60px; height:60px;">
					</object>
					 <h4 class="mt-4 mb-3">Canasta</h4>
					<p>A game for two players of Rummy family, with value-only melds and discard pile special rules, played by 2-pack card deck</p>
				</div>
			</div> 
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0"> 
					<object type="image/svg+xml" data="{{ 'assets/images/icons/spades.svg'|theme }}" 
						style="filter: invert(1); width:60px; height:60px;">
					</object>
					 <h4 class="mt-4 mb-3">Spades</h4>
					<p>A game for 2,3,4 players with trumps and the bidding stage</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">
					<object type="image/svg+xml" data="{{ 'assets/images/icons/backgammon.svg'|theme }}" 
						style="filter: invert(1); width:60px; height:60px;">
					</object>
					 <h4 class="mt-4 mb-3">Backgammon</h4>
					<p>Worldwide famous game on the special board and with dice. There are short and long version, double cube and other features in backgammon.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<object type="image/svg+xml" data="{{ 'assets/images/icons/domino-tiles.svg'|theme }}" 
						style="filter: invert(1); width:60px; height:60px;">
					</object>
					 <h4 class="mt-4 mb-3">Dominoes</h4>
					<p>A popular tile game with many variations like All-Fives or Muggins, Draw, Block, Train etc. Can be played by the different number of dominoes bones</p>
				</div>
			</div> 
		</div>
	</div>
</section>
{# Section Intro End #}