// Intro Section

.intro-item{

	i{
		font-size:60px;
		line-height: 60px;
	}
	object {
		filter: invert(62%) sepia(24%) saturate(822%) hue-rotate(181deg) brightness(104%) contrast(101%);
		width:60px;
		height:60px;
	}
	
}

.color-one{
	color: $primary-color;
}
.color-two{
	color: #00d747;
}
.color-three{
	color:#9262ff;
}
.color-four{
	color:#088ed3;
}