;;
description = "Blog Intro Header"
==
{##}
<section class="page-title bg-1" style="background:url({{ 'assets/images/blog-banner.jpg'|theme }}) no-repeat 50% 50%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Our blog</span>
                    <h1 class="text-capitalize mb-4 text-lg">{{ this.page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>