;;
description = "Footer Partial"
==
{##}
{# Footer Start #}
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Company</h4>
					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">{{ 'Terms & Conditions'|_ }}</a></li>
						<li><a href="#">{{ 'Privacy Policy'|_ }}</a></li>
						<li><a href="#">{{ 'Support'|_ }}</a></li>
						<li><a href="#">{{ 'FAQ'|_ }}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Quick Links</h4>
					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">{{ 'Game Rules'|_ }}</a></li>
						<li><a href="{{ 'blog'|page }}">{{ 'News'|_ }}</a></li>
						<li><a href="{{ 'about'|page }}">{{ 'Team'|_ }}</a></li>
						<li><a href="{{ 'contact-us'|page }}">{{ 'Contact'|_ }}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize mb-4">Subscribe Us</h4>
					<p>Subscribe to get latest news article and resources  </p>
					<form action="#" class="sub-form">
						<input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
						<a href="#" class="btn btn-main btn-small">subscribe</a>
					</form>
				</div>
			</div>
			<div class="col-lg-3 ml-auto col-sm-6">
				<div class="widget">
					<div class="logo mb-4">
						<h3 class="accent">GmBr <span>Games</span></h3>
					</div>
					<h6><a href="mailto:support@gameberg.com" >support@gameberg.com</a></h6>
				</div>
			</div>
		</div>
		<div class="footer-btm pt-4">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; {{ "now"|date("Y") }} - Copyright Reserved to <span class="accent">GmBr</span><span class="text-color"> Games.</span> By <a href="https://gameberg.com/" rel="noopener" target="_blank">gameberg.com</a>
					</div>
				</div>
				<div class="col-lg-6 text-left text-lg-right">
					<ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="https://www.facebook.com/gameberg"><i class="fab fa-facebook mr-2"></i>Facebook</a></li>
						<li class="list-inline-item"><a href="https://twitter.com/gameberg"><i class="fab fa-twitter mr-2"></i>Twitter</a></li>
						<li class="list-inline-item"><a href="https://instagram.com/instagram"><i class="fab fa-instagram mr-2"></i>Instagram</a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/gameberg/"><i class="fab fa-pinterest mr-2"></i>Pinterest</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
{# Footer Close #}