description = "Game Header Partial"

[viewBag]
snippetProperties[][title] = ""
snippetProperties[][type] = "string"
snippetProperties[][default] = ""
snippetProperties[][options][] = ""
==
<!-- Section Page Intro Start -->
<section class="page-title bg-1" style="background:url({{ bgurl }}) no-repeat 50% 50%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Learn, play offline or online</span>
                    <h1 class="text-capitalize mb-4 text-lg">{{ gamename }}</h1>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{{ 'home'|page }}" class="text-white">{{ 'Home'|_ }}</a></li>
                        <li class="list-inline-item"><span class="text-white">/</span></li>
                        <li class="list-inline-item"><a href="#" class="text-white-50">{{ gamename }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Page Intro End -->